In [ ]:
import pandas as pd 
import json
import seaborn as sns
import numpy as np

In [ ]:
json_data = pd.read_json('https://data.sfgov.org/resource/fjjd-jecq.json?$limit=2000000')

Right now SODA API has a limit of returning 1000 rows at a time when querying the dataset. To query more than 1000 rows, I added '$limit=' parameter to json url which will set a limit on how much I want to query from a dataset.

In [ ]:
calls_for_service=pd.DataFrame(json_data)

In [17]:
calls_for_service.head(5)

,address,address_type,agency_id,call_date,call_dttm,call_time,city,common_location,crime_id,disposition,offense_date,original_crimetype_name,report_date,state
0,1500 Block Of Pine St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20 11:50:00,2018-10-30 11:50:00,San Francisco,NaN,162641608,REP,2016-09-20T00:00:00.000,Complaint Unkn,2016-09-20T00:00:00.000,CA
1,100 Block Of Erie St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20 12:36:00,2018-10-30 12:36:00,San Francisco,NaN,162641785,UTL,2016-09-20T00:00:00.000,909,2016-09-20T00:00:00.000,CA
2,900 Block Of Market St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20 14:01:00,2018-10-30 14:01:00,San Francisco,NaN,162642180,HAN,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
3,1900 Block Of Palou Av,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20 14:30:00,2018-10-30 14:30:00,San Francisco,NaN,162642293,REP,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
4,Florida St/division St,Intersection,1,2016-09-20T00:00:00.000,2016-09-20 14:49:00,2018-10-30 14:49:00,San Francisco,NaN,162642379,HAN,2016-09-20T00:00:00.000,Encampment,2016-09-20T00:00:00.000,CA

In [18]:
calls_for_service['call_dttm'] = pd.to_datetime(calls_for_service['call_dttm'])

In [19]:
calls_for_service.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 14 columns):
address                    2000000 non-null object
address_type               2000000 non-null object
agency_id                  2000000 non-null int64
call_date                  2000000 non-null object
call_dttm                  2000000 non-null datetime64[ns]
call_time                  2000000 non-null datetime64[ns]
city                       1944403 non-null object
common_location            197653 non-null object
crime_id                   2000000 non-null int64
disposition                2000000 non-null object
offense_date               2000000 non-null object
original_crimetype_name    2000000 non-null object
report_date                2000000 non-null object
state                      2000000 non-null object
dtypes: datetime64[ns](2), int64(2), object(10)
memory usage: 213.6+ MB

In [20]:
#check for the null entries 
calls_for_service.isnull().sum()

address                          0
address_type                     0
agency_id                        0
call_date                        0
call_dttm                        0
call_time                        0
city                         55597
common_location            1802347
crime_id                         0
disposition                      0
offense_date                     0
original_crimetype_name          0
report_date                      0
state                            0
dtype: int64

In [23]:
calls_for_service.city.unique()

array(['San Francisco', nan, 'Treasure Isla', 'Presidio', 'Yerba Buena',
       'Hunters Point', 'Daly City', 'Brisbane', 'Fort Mason'],
      dtype=object)

In [24]:
# drop column common_location as it is not important
calls_for_service = calls_for_service.drop('common_location', axis=1)

In [25]:
# forward fill city column values as 
calls_for_service['city'] = calls_for_service['city'].ffill()

In [26]:
calls_for_service.city.unique()

array(['San Francisco', 'Treasure Isla', 'Presidio', 'Yerba Buena',
       'Hunters Point', 'Daly City', 'Brisbane', 'Fort Mason'],
      dtype=object)

In [27]:
calls_for_service.isnull().sum()

address                    0
address_type               0
agency_id                  0
call_date                  0
call_dttm                  0
call_time                  0
city                       0
crime_id                   0
disposition                0
offense_date               0
original_crimetype_name    0
report_date                0
state                      0
dtype: int64

In [28]:
calls_for_service.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 13 columns):
address                    2000000 non-null object
address_type               2000000 non-null object
agency_id                  2000000 non-null int64
call_date                  2000000 non-null object
call_dttm                  2000000 non-null datetime64[ns]
call_time                  2000000 non-null datetime64[ns]
city                       2000000 non-null object
crime_id                   2000000 non-null int64
disposition                2000000 non-null object
offense_date               2000000 non-null object
original_crimetype_name    2000000 non-null object
report_date                2000000 non-null object
state                      2000000 non-null object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 198.4+ MB

In [29]:
radio_code = pd.read_excel("Radio_Codes_2016.xlsx")
radio_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 2 columns):
original_crimetype_name    178 non-null object
Meaning                    178 non-null object
dtypes: object(2)
memory usage: 2.9+ KB

In [ ]:
#s = radio_code.set_index('Radio_codes')['Meaning']
#s1=calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].replace(s)
#calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].astype(str)
#calls_for_service = calls_for_service.merge(radio_code,on='original_crimetype_name')
pd.merge(calls_for_service, radio_code, on='original_crimetype_name', how='outer')

In [ ]:
calls_for_service.head(10)

In [58]:
s1.replace(s, inplace=True)
#s
#calls_for_service.head()

In [67]:
calls_for_service.head()

,address,address_type,agency_id,call_date,call_dttm,call_time,city,crime_id,disposition,offense_date,original_crimetype_name,report_date,state
30,500 Block Of Marina Bl,Common Location,1,2016-09-20T00:00:00.000,2016-09-20 20:23:00,2018-10-25 20:23:00,San Francisco,162643732,REP,2016-09-20T00:00:00.000,NaN,2016-09-20T00:00:00.000,CA
69,600 Block Of Dolores St,Common Location,1,2016-09-20T00:00:00.000,2016-09-20 23:33:00,2018-10-25 23:33:00,San Francisco,162644291,GOA,2016-09-20T00:00:00.000,NaN,2016-09-20T00:00:00.000,CA
88,0 Block Of United Nations Pz,Common Location,1,2016-09-20T00:00:00.000,2016-09-20 23:58:00,2018-10-25 23:58:00,San Francisco,162644346,GOA,2016-09-20T00:00:00.000,NaN,2016-09-20T00:00:00.000,CA
92,400 Block Of Laguna Honda Bl,Common Location,1,2016-09-21T00:00:00.000,2016-09-21 00:00:00,2018-10-25 00:00:00,San Francisco,162650001,HAN,2016-09-21T00:00:00.000,NaN,2016-09-21T00:00:00.000,CA
126,3400 Block Of Mission St,Common Location,1,2016-09-21T00:00:00.000,2016-09-21 00:26:00,2018-10-25 00:26:00,San Francisco,162650062,ND,2016-09-21T00:00:00.000,NaN,2016-09-21T00:00:00.000,CA

In [39]:
# Set crime_id as index
calls_for_service.index=calls_for_service['crime_id']

In [91]:
calls_for_service['month_year'] = calls_for_service.call_dttm.dt.to_period('M')

In [30]:
calls_for_service.tail(20)

,address,address_type,agency_id,call_date,call_dttm,call_time,city,common_location,crime_id,disposition,offense_date,original_crimetype_name,report_date,state
1999980,10th St/mission St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:19:00,2018-10-25 07:19:00,San Francisco,NaN,182410595,ADV,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999981,23rd St/chattanooga St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:21:00,2018-10-25 07:21:00,San Francisco,NaN,182410596,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999982,Dore St/folsom St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:17:00,2018-10-25 07:17:00,San Francisco,NaN,182410597,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999983,1300 Block Of 7th Av,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:19:00,2018-10-25 07:19:00,San Francisco,NaN,182410599,UTL,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999984,400 Block Of 24th St,Common Location,1,2018-08-29T00:00:00.000,2018-08-29 07:22:00,2018-10-25 07:22:00,San Francisco,Warm Water Cove Park,182410601,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999985,Don Chee Wy/the Embarcadero Sou,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:23:00,2018-10-25 07:23:00,San Francisco,NaN,182410602,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999986,23rd St/shotwell St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:18:00,2018-10-25 07:18:00,San Francisco,NaN,182410604,UTL,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999987,18th St/castro St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:24:00,2018-10-25 07:24:00,San Francisco,NaN,182410605,Not recorded,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999988,2100 Block Of 15th St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:22:00,2018-10-25 07:22:00,San Francisco,NaN,182410606,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999989,18th St/castro St,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:24:00,2018-10-25 07:24:00,San Francisco,NaN,182410608,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999990,2700 Block Of Harrison St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:18:00,2018-10-25 07:18:00,San Francisco,NaN,182410609,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999991,1100 Block Of Harrison St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:25:00,2018-10-25 07:25:00,San Francisco,NaN,182410611,ADV,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999992,1100 Block Of Ellis St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:24:00,2018-10-25 07:24:00,San Francisco,NaN,182410612,ADV,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999993,3500 Block Of 26th St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:22:00,2018-10-25 07:22:00,San Francisco,NaN,182410613,ADV,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999994,3100 Block Of 16th St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:25:00,2018-10-25 07:25:00,San Francisco,NaN,182410614,GOA,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999995,California Av/avenue D,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:28:00,2018-10-25 07:28:00,Treasure Isla,NaN,182410615,HAN,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999996,900 Block Of Market St,Common Location,1,2018-08-29T00:00:00.000,2018-08-29 07:06:00,2018-10-25 07:06:00,San Francisco,"One Hallidie Pz, Sf",182410616,NOM,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999997,700 Block Of Balboa St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:27:00,2018-10-25 07:27:00,San Francisco,NaN,182410617,22,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999998,Great Hy/sloat Bl,Intersection,1,2018-08-29T00:00:00.000,2018-08-29 07:27:00,2018-10-25 07:27:00,San Francisco,NaN,182410619,ND,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA
1999999,700 Block Of Balboa St,Premise Address,1,2018-08-29T00:00:00.000,2018-08-29 07:29:00,2018-10-25 07:29:00,San Francisco,NaN,182410621,CIT,2018-08-29T00:00:00.000,NaN,2018-08-29T00:00:00.000,CA

In [108]:
# calculate the number of unique crime typ
df_grp_by=calls_for_service['original_crimetype_name'].groupby(calls_for_service['month_year']).count()