In [1]:
# import requisite module
import pandas as pd 
import json
import seaborn as sns
import numpy as np

In [2]:
# read data from json 
json_data = pd.read_json('https://data.sfgov.org/resource/fjjd-jecq.json?$limit=2000000')

Right now SODA API has a limit of returning 1000 rows at a time when querying the dataset. To query more than 1000 rows, I added '$limit=' parameter to json url which will set a limit on how much I want to query from a dataset.

In [48]:
# save data in pandas dataframe
calls_for_service=pd.DataFrame(json_data)

In [49]:
calls_for_service.shape

(2000000, 14)

In [50]:
calls_for_service.head()

,address,address_type,agency_id,call_date,call_dttm,call_time,city,common_location,crime_id,disposition,offense_date,original_crimetype_name,report_date,state
0,1500 Block Of Pine St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20T11:50:00.000,2018-11-08 11:50:00,San Francisco,NaN,162641608,REP,2016-09-20T00:00:00.000,Complaint Unkn,2016-09-20T00:00:00.000,CA
1,100 Block Of Erie St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20T12:36:00.000,2018-11-08 12:36:00,San Francisco,NaN,162641785,UTL,2016-09-20T00:00:00.000,909,2016-09-20T00:00:00.000,CA
2,900 Block Of Market St,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20T14:01:00.000,2018-11-08 14:01:00,San Francisco,NaN,162642180,HAN,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
3,1900 Block Of Palou Av,Premise Address,1,2016-09-20T00:00:00.000,2016-09-20T14:30:00.000,2018-11-08 14:30:00,San Francisco,NaN,162642293,REP,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
4,Florida St/division St,Intersection,1,2016-09-20T00:00:00.000,2016-09-20T14:49:00.000,2018-11-08 14:49:00,San Francisco,NaN,162642379,HAN,2016-09-20T00:00:00.000,Encampment,2016-09-20T00:00:00.000,CA

Dataset has 2 million rows and 14 columns

In [51]:
calls_for_service.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 14 columns):
address                    2000000 non-null object
address_type               2000000 non-null object
agency_id                  2000000 non-null int64
call_date                  2000000 non-null object
call_dttm                  2000000 non-null object
call_time                  2000000 non-null datetime64[ns]
city                       1944403 non-null object
common_location            197653 non-null object
crime_id                   2000000 non-null int64
disposition                2000000 non-null object
offense_date               2000000 non-null object
original_crimetype_name    2000000 non-null object
report_date                2000000 non-null object
state                      2000000 non-null object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 213.6+ MB

In [52]:
#check for the null entries 
calls_for_service.isnull().sum()

address                          0
address_type                     0
agency_id                        0
call_date                        0
call_dttm                        0
call_time                        0
city                         55597
common_location            1802347
crime_id                         0
disposition                      0
offense_date                     0
original_crimetype_name          0
report_date                      0
state                            0
dtype: int64

In [53]:
# drop column common_location as it has many null entries
calls_for_service = calls_for_service.drop('common_location', axis=1)

In [55]:
# forward fill city column values to replace the null values 
calls_for_service['city'] = calls_for_service['city'].bfill()

In [56]:
calls_for_service.isnull().sum()

address                    0
address_type               0
agency_id                  0
call_date                  0
call_dttm                  0
call_time                  0
city                       0
crime_id                   0
disposition                0
offense_date               0
original_crimetype_name    0
report_date                0
state                      0
dtype: int64

Observe that there are no NULL values in city column anymore.

In [57]:
# change the datatype of call_dttm column
calls_for_service['call_dttm'] = pd.to_datetime(calls_for_service['call_dttm'])
#drop call_date and call_time column as dataset already has a call_dttm column, also drop agency_id
calls_for_service = calls_for_service.drop(['call_time','call_date','agency_id'], axis=1)

In [58]:
calls_for_service.shape

(2000000, 10)

In [59]:
# Remove the white spaces,special characters from the original crime types values
calls_for_service['original_crimetype_name'].str.strip()
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].map(lambda x: x.lstrip('e`&[***~ +-".,//\\0').rstrip(' ***."'))

# Replace misspelled original crime types with correct values
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].replace(to_replace=['Yelinng','Yelling Male','Yeller','Yelling Man','Yelling Off Balcony','Yelling/aggressive'], value='Yelling', regex=True)
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].replace(to_replace=['Suspicious person'], value='Suspicious Person', regex=True)
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].replace(to_replace=['Yel Zone','Yel Zn','Yel Grn Zn','Yz','Yello Zone','Yellow Zne','Yz,gz,rz','Yzone','Yellow Zone,gz,rz','Yellow Zoneone'], value='Yellow Zone', regex=True)
calls_for_service.loc[calls_for_service['original_crimetype_name'].str.contains('152'), 'original_crimetype_name'] = '152'
calls_for_service.loc[calls_for_service['original_crimetype_name'].str.contains('1030'), 'original_crimetype_name'] = '10-30'
calls_for_service.loc[calls_for_service['original_crimetype_name'].str.contains('207'), 'original_crimetype_name'] = '207'
calls_for_service.loc[calls_for_service['original_crimetype_name'].str.contains('212'), 'original_crimetype_name'] = '212'

# Count the occurence of each crime type
data_by_city_crime=calls_for_service.groupby(['original_crimetype_name']).size().reset_index(name='count')
data_by_city_crime

      original_crimetype_name  count
0                                 41
1               'Fire Hazard'      1
2                          'S      2
3                 (221 Taken)      1
4                       (459)      1
5                       (487)      1
6                   (Nom 851)      1
7                           1      1
8                   1 At Risk      1
9                        1 Yo      1
10                 1-Man Band      1
11                     10 Ago      2
12                 10 Min Ago      3
13            10 Smoking Weed      1
14               10 Vict Vehs      1
15              10' Metal Bar      1
16                      10-25      1
17                      10-30    261
18                 10-30 Poss      2
19       10-30 Poss Unreporte      1
20                 10-30 Subj      1
21                  10-30 Veh      1
22                      10-7i      1
23                        100      8
24            100 Counterfeit      1
25                   100 Poss      1
26                100 V - 917      1
27                  100 Video      1
28            100 Video Alarm      1
29              1009/muni Lot      1
...                       ...    ...
16477               X/sleeper      2
16478       X/tx'd To Bart Pd      1
16479                   X1200      1
16480                      X3      1
16481                      Xc      1
16482                     Xcz      1
16483                  Xdrugs      1
16484               Xfer 0123      1
16485                Xfer Chp      1
16486                Xfer Dpt      1
16487                      Xg      1
16488        Xmas Decorations      1
16489               Xmas Tree      1
16490              Xmas Trees      1
16491                      Xw      1
16492       Xwell Being Check      2
16493                      Xx      2
16494       Yard Construction      1
16495               Yaxi Zone      1
16496                 Yelling    144
16497             Yellow Zone    123
16498               Yesterday      1
16499        Ygc / Jail Break      9
16500                     Yom      1
16501               Yurt Camp      1
16502                 Zip Car      4
16503           Zip Car Space      1
16504                Zone Red      1
16505                       l      1
16506                pen Line      1

[16507 rows x 2 columns]

In [60]:
# Replace Null values of original crimetype with Nan and then drop the rows having nan
calls_for_service['original_crimetype_name'].replace('', np.nan, inplace=True)
calls_for_service.dropna(subset=['original_crimetype_name'], inplace=True)
calls_for_service.shape

(1999959, 10)

In [61]:
# read another exel file which has radio codes 
radio_code_xl = pd.read_excel("Radio_Codes_2016.xlsx")
radio_code = pd.DataFrame(radio_code_xl)
radio_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 2 columns):
original_crimetype_name    178 non-null object
Meaning                    178 non-null object
dtypes: object(2)
memory usage: 2.9+ KB

In [62]:
# replace radio codes mentioned in original_crimetype_name column with radio codes meaning from radio code data frame
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].astype(str)
radio_code['original_crimetype_name']= radio_code['original_crimetype_name'].astype(str)
radio_code['Meaning']= radio_code['Meaning'].astype(str)
calls_for_service['original_crimetype_name'] = calls_for_service['original_crimetype_name'].map(radio_code.set_index('original_crimetype_name')['Meaning']).fillna(calls_for_service['original_crimetype_name'])

In [63]:
calls_for_service.head()

,address,address_type,call_dttm,city,crime_id,disposition,offense_date,original_crimetype_name,report_date,state
0,1500 Block Of Pine St,Premise Address,2016-09-20 11:50:00,San Francisco,162641608,REP,2016-09-20T00:00:00.000,Complaint Unkn,2016-09-20T00:00:00.000,CA
1,100 Block Of Erie St,Premise Address,2016-09-20 12:36:00,San Francisco,162641785,UTL,2016-09-20T00:00:00.000,Interview a citizen,2016-09-20T00:00:00.000,CA
2,900 Block Of Market St,Premise Address,2016-09-20 14:01:00,San Francisco,162642180,HAN,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
3,1900 Block Of Palou Av,Premise Address,2016-09-20 14:30:00,San Francisco,162642293,REP,2016-09-20T00:00:00.000,Burglary,2016-09-20T00:00:00.000,CA
4,Florida St/division St,Intersection,2016-09-20 14:49:00,San Francisco,162642379,HAN,2016-09-20T00:00:00.000,Encampment,2016-09-20T00:00:00.000,CA

In [65]:
data_by_city_crime[data_by_city_crime['count']== 1]

      original_crimetype_name  count
2               'Fire Hazard'      1
4                 (221 Taken)      1
5                       (459)      1
6                       (487)      1
7                   (Nom 851)      1
8                           1      1
9                   1 At Risk      1
10                       1 Yo      1
11                 1-Man Band      1
14            10 Smoking Weed      1
15               10 Vict Vehs      1
16              10' Metal Bar      1
18       10-30 Poss Unreporte      1
19                 10-30 Subj      1
20                  10-30 Veh      1
21                      10-7i      1
22            100 Counterfeit      1
23                   100 Poss      1
24                100 V - 917      1
25                  100 Video      1
26            100 Video Alarm      1
27              1009/muni Lot      1
29               100a / Video      1
30       100a/fire Alarm Poss      1
34                       1022      1
35             1025/ 221 Susp      1
37                   1036 809      1
38                   1036 Atc      1
39                   1036 Cps      1
40           1036 On 801 Poss      1
...                       ...    ...
16434               X/586 Haz      1
16435              X/799 Poss      1
16436                   X/909      1
16437               X/at Risk      1
16438                 X/drugs      1
16441              X/poss 418      1
16442                   X/sex      1
16444       X/tx'd To Bart Pd      1
16445                   X1200      1
16446                      X3      1
16447                      Xc      1
16448                     Xcz      1
16449                  Xdrugs      1
16450               Xfer 0123      1
16451                Xfer Chp      1
16452                Xfer Dpt      1
16453                      Xg      1
16454        Xmas Decorations      1
16455               Xmas Tree      1
16456              Xmas Trees      1
16457                      Xw      1
16460       Yard Construction      1
16461               Yaxi Zone      1
16464               Yesterday      1
16466                     Yom      1
16467               Yurt Camp      1
16469           Zip Car Space      1
16470                Zone Red      1
16471                       l      1
16472                pen Line      1

[11201 rows x 2 columns]

In [21]:
# Drop rows of original crime type which appeared once
calls_for_service.loc[calls_for_service.groupby('original_crimetype_name').original_crimetype_name.transform('count').lt(2),'original_crimetype_name']= np.nan
calls_for_service.dropna(subset=['original_crimetype_name'], inplace=True)

In [37]:
calls_for_service.groupby(['original_crimetype_name']).size().reset_index(name='count')

     original_crimetype_name  count
0                         'S      2
1                     10 Ago      2
2                 10 Min Ago      3
3                 10-30 Poss      2
4                       100a     25
5                   100p Veh      2
6                       100s      6
7                       100v     17
8                       1036     25
9                        123    122
10                    123 Tx      9
11                     123tx      2
12                      12yo      4
13                  148 Poss      3
14                 18 Inches      3
15                18 Wheeler      3
16                        1p      2
17                         2      4
18                     2 X's      3
19                  211 Poss     12
20                  211 Susp      2
21                     21112      2
22                    21113a     19
23                  213 Poss      2
24                  213 Susp      2
25                  216 Poss      5
26                   216 Rep      2
27                  217 Poss      2
28                   219 Att      3
29               219 Attempt      5
...                      ...    ...
5242            Wooden Stick      5
5243            Working Fire      2
5244          Working On Veh      3
5245                    Wph2      2
5246                 Wph2 Hu      2
5247               Wreckless    152
5248                  Wrench     11
5249         Wrong Direction      8
5250                      Wz   1754
5251                   Wz/rz      5
5252                   X 594      2
5253            X Aggressive      2
5254                X Camper      3
5255                   X Juv      3
5256           X Panhandling      3
5257                  X Poss      7
5258              X Rambling      2
5259                   X Rtl      2
5260            X W/stroller      2
5261                     X's      4
5262                    X-Jo      2
5263                  X/poss      2
5264              X/poss 261      2
5265               X/sleeper      2
5266       Xwell Being Check      2
5267                      Xx      2
5268                 Yelling    144
5269             Yellow Zone    123
5270        Ygc / Jail Break      9
5271                 Zip Car      4

[5272 rows x 2 columns]

In [66]:
# count the crimes per city
data_by_city=calls_for_service.groupby(['city']).size().reset_index(name='count')
data_by_city

            city    count
0       Brisbane       38
1      Daly City     1001
2     Fort Mason       67
3  Hunters Point      573
4       Presidio      526
5  San Francisco  1986600
6  Treasure Isla     9927
7    Yerba Buena     1227

In [70]:
# display the top 25 crimes 
data_by_city_crime.sort_values('count',ascending=False).head(50)

                         original_crimetype_name   count
11069                               Passing Call  260977
14972                               Traffic Stop  210708
14602                          Suspicious Person  104815
8774                          Homeless Complaint  102769
409                                       22500e   76454
10325                            Muni Inspection   68826
5476                               Audible Alarm   58056
15072                                 Trespasser   52634
16222                           Well Being Check   47954
14604                         Suspicious Vehicle   47448
8090                             Fight No Weapon   42409
5494                          Auto Boost / Strip   35387
10573                             Noise Nuisance   34490
11292                                Petty Theft   27424
10124                         Mentally Disturbed   26402
10111                             Meet W/citizen   26342
11527                                       Poss   26054
7568                                          Dw   24531
5100                           Assault / Battery   23573
535                                       22500f   21867
14967                        Traf Violation Cite   21558
6693                              Complaint Unkn   19782
6079                                    Burglary   14542
14288                             Stolen Vehicle   14230
13047                                        Rep   14196
14844                       Threats / Harassment   13959
15465                                  Vandalism   13560
7341                                       Drugs   13497
1847                                        500e   12972
9090                         Interview a citizen   11545
8526                            H&r Veh Accident   10513
15521                               Veh Accident   10319
14968                         Traf Violation Tow    9960
7756                                  Encampment    9783
8295                                       Fraud    9606
9210                                          Jo    9399
8773          Homeless  related call for service    7910
9044                           Indecent Exposure    7760
14384                            Suicide Attempt    7693
15662  Vehicle Accident-No injury (HR=hit & run)    7687
8091                          Fight No Weapon Dv    7601
13940                                    Sleeper    7336
9064                         Injury Veh Accident    6981
14628                                         Sw    6630
16192                       Wanted Vehicle / Sub    6616
11276                             Person W/knife    6431
3074                                      7.2.46    6186
2980                                      7.2.27    6000
2835                                      7,2,46    5835
13099                                     Report    5357